<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}ASPTT Golf Marseille
			{% endblock %}
		</title>
		<link rel="icon" href="{{ asset('images/LogoASPTTMarseille1907.png') }}">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{{
	component('navbar')
		}}
		<div class="block-center"> {% block body %}{% endblock %}
			</div>
			{{
	component('footer')
		}}
		</body>
	</html>
