<div class="card_travel-div">
	<div class="card_travel-div-img">
		<img class="card_travel-img" src="{{cardImage}}" alt="{{cardAlt}}"/>
	</div>
	<div class="p-6">
		<h5 class="card_travel-title">
			{{ cardTitle}}
		</h5>
		<p class="text-base text-golf-blue">
			<small class="text-golf-blue">{{ cardDuration}}</small>
		</p>
		<p class="mb-4 text-base text-golf-blue">
			{{ cardContent}}
		</p>

	</div>
</div>
