<header>
	<!-- Hero section with background image, heading, subheading and button -->
	<div class="header header-image"></div>
	<!-- Navigation bar -->
	<nav class="golf-nav" data-te-navbar-ref>
		<div class="golf-nav-div">
			<div
				class="flex items-center">
				<!-- Hamburger menu button -->
				<button
					class="golf-nav-burger-button" type="button" data-te-collapse-init data-te-target="#navbarSupportedContentX" aria-controls="navbarSupportedContentX" aria-expanded="false" aria-label="Toggle navigation">
					<!-- Hamburger menu icon -->
					<span class="[&>svg]:w-5">
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-7 w-7">
							<path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
						</svg>
					</span>
				</button>
			</div>

			<!-- Navigation links -->
			<div class="hidden grow basis-[100%] items-center lg:!flex lg:basis-auto !visible" id="navbarSupportedContentX" data-te-collapse-item>
				<ul class="golf-nav-link-ul" data-te-navbar-nav-ref>
					<li class="golf-nav-link-li" data-te-nav-item-ref>
						<a href="{{ path('home')}}">{{ component ('navbar_button', { buttonTitle: 'Accueil' })}}</a>
					</li>
					<li class="golf-nav-link-li" data-te-nav-item-ref>
						<a href="{{ path('about')}}">{{ component ('navbar_button', { buttonTitle: 'Nous Connaître' })}}</a>
					</li>
					<li class="golf-nav-link-li" data-te-nav-item-ref>
						<a href="{{ path('partners')}}">{{ component ('navbar_button', { buttonTitle: 'Golfs Partenaires' })}}</a>
					</li>
					<li class="golf-nav-link-li" data-te-nav-item-ref>
						<a href="{{ path('events')}}">{{ component ('navbar_button', { buttonTitle: 'Evenements' })}}</a>
					</li>
					<li class="golf-nav-link-li" data-te-nav-item-ref>
						<a href="{{ path('tournaments')}}">{{ component ('navbar_button', { buttonTitle: 'Competitions' })}}</a>
					</li>
					<li class="golf-nav-link-li" data-te-nav-item-ref>
						<a href="{{ path('travels')}}">{{ component ('navbar_button', { buttonTitle: 'Voyages' })}}</a>
					</li>
					<li class="golf-nav-link-li" data-te-nav-item-ref>
						<a href="{{ path('training')}}">{{ component ('navbar_button', { buttonTitle: 'Formations' })}}</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>
