<select data-te-select-init name="{{formField.name}}">
	<option value="{{formField.label1}}">{{formField.label1}}</option>
	<option value="{{formField.label2}}">{{formField.label2}}</option>
</select>
