{% extends "base.html.twig" %}

{% block title %}ASPTT Golf Marseille Modification mot de passe
{% endblock %}

{% block body %}
	<div class="p-4 justify-center">
		<h1 class="golf-h1">Modification du mot de passe</h1>
		{{ form_start(form) }}
		<div class="relative mb-3" data-te-input-wrapper-init>
			{{ form_widget(form.plainPassword) }}
			{{ form_label(form.plainPassword)}}

			<div>
				{{ form_errors(form.plainPassword) }}
			</div>
		</div>
		<div class="relative mb-3" data-te-input-wrapper-init>
			{{ form_widget(form.newPassword) }}
			{{ form_label(form.newPassword)}}

			<div>
				{{ form_errors(form.newPassword) }}
			</div>
		</div>

		<div class="text-center lg:text-left">
			{{ form_row(form.submit) }}
		</div>
		{{ form_end(form) }}
	</div>
{% endblock %}
